@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
  --color-text-primary: hsl(200, 15%, 8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(207, 26%, 17%);
    --elements-color: hsl(209, 23%, 22%);
    --color-text-primary: hsl(0, 0%, 100%);
  }
}